
@{
    ViewBag.Title = "Index";
}
@section Firsatlar {
    <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="heading to-animate">Firsatlara göz atın</h2>
        <p class="sub-heading to-animate">Bu fırsatlara bakmadan gecmeyin.Etli ve vejetaryan türlerinde de fırsatlar mevcuttur. </p>
    </div>
</div>
<div class="row">
    <div class="fh5co-grid">
        <div class="fh5co-v-half to-animate-2">            
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_1.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                <h2>Buyuk Boy Pizza</h2>
                <span class="pricing">$55</span>
                <p>3 kisinin doyabilecegi porsiyonda 5 dolar indirimli kampanya.</p>
            </div>
        </div>
        <div class="fh5co-v-half">
            <div class="fh5co-h-row-2 to-animate-2">
                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_2.jpg)"></div>
                <div class="fh5co-v-col-2 fh5co-text arrow-left">
                    <h2>2 orta Boy Pizza</h2>
                    <span class="pricing">$65</span>
                    <p>2 orta boy pizza isteyene 1.5 litre kola hediye ve 15 dolar indirim.</p>
                </div>
            </div>
            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_8.jpg)"></div>
                <div class="fh5co-v-col-2 fh5co-text arrow-right">
                    <h2>Buyuk Boy Vejetaryan</h2>
                    <span class="pricing">$50</span>
                    <p>Vejetaryan menude de uygun fırsatlar mevcut.</p>
                </div>
            </div>
        </div>
        <div class="fh5co-v-half">
            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_7.jpg)"></div>
                <div class="fh5co-v-col-2 fh5co-text arrow-right">
                    <h2>Kahvalti Tabagi</h2>
                    <span class="pricing">$15</span>
                    <p>Oglen 1 e kadar kahvalti cesitlerimiz mevcuttur. Sınırsız Cay ikramı vardırç</p>
                </div>
            </div>
            <div class="fh5co-h-row-2 to-animate-2">
                <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_6.jpg)"></div>
                <div class="fh5co-v-col-2 fh5co-text arrow-left">
                    <h2>Buyuk Boy Salata</h2>
                    <span class="pricing">$9</span>
                    <p>İsteyene tavuklu Akdeniz usulü salata hafif yemek isteyenlerin tercihi.</p>
                </div>
            </div>
        </div>
        <div class="fh5co-v-half to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(~/Uploads/images/res_img_3.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
                <h2>Hamburger</h2>
                <span class="pricing">$10</span>
                <p>Hamburger alana 1 litre kola veya fanta bizden.</p>
            </div>
        </div>
    </div>
</div>
}

@section Hakkimizda {
    <p class="to-animate">
        <span class="firstcharacter">F</span>oodie, Restaurant 1992 senesinde İstanbul’un 
        iş ve yerleşim merkezi Levent’te iki katlı bahçe içerisinde bir villada kuruldu. 
        Kurulduğu günden bugüne Foodie, Akdeniz ve Türk mutfağının mevsimsel lezzetlerini, 
        çağdaş bir sunum ve yüzde yüz müşteri memnuniyetine dayalı servis anlayışıyla
         misafirlerinin beğenisine sunmaktadır.
    </p>
    <p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Iletisime Gecin</a></p>
}





